*{
    margin:0;
    padding:0;
    text-decoration: none;
}

/* header 시작 */
#header > .logo {
    display: flex;
    position: relative;
    height: 72px;
    justify-items: center;
    align-items: center;
  }
  
  .head-left {
    display: flex;
    align-items: center;
  }
  
  .head-search input {
    align-items: center;
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding-left: 40px;
    background-color: #f5f6f7;
    border: none;
    background-image: url(../img/ic_search_20x20_gray_500.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px center;
  }
  
  .head-search input:focus {
    background-color: #ffff;
  }
  
  #header > .search > img {
    height: 48px;
  }
  
  #header {
    position: relative;
    display: flex;
    width: 100%;
    height: 72px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 1060px;
    background-color: #ffff;
    justify-content: space-between;
  }
  
  #header > .logo > img {
    width: 128px;
  }
  
  /* #header > #sign_up {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  
  #header > #sign_up > div > a {
    padding: 8px 12px;
    border-radius: 3px;
    transition-duration: 0.2s;
    font-weight: bold;
    color: rgb(102, 109, 117);
  }
  
  #header > #sign_up > .profile > a {
    border-radius: 30px;
    padding: 3px;
  }
  
  #sign_up > .profile > a > img {
    width: 36px;
    height: 36px;
  }
  
  #header > #sign_up > div > a:hover {
    color: rgb(102, 109, 117);
    background-color: #f5f6f7;
  }
  
  #sign_up {
    display: flex;
  }
  
  #sign_up > div {
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;
    color: white;
  } */

  #sign_up{
    display: flex;
  }
  #sign_up div{
    margin:0 15px;
  }
  #sign_up a{
    color:#666;
    font-weight: bold;
  }
  #sign_up>.signup>a{
        color:#2b96ed;
        border:0.5px solid #69b6f5;
        padding:10px 40px;
  }
  
  nav {
    border-bottom: 1px solid rgb(222, 226, 230);
  }
  
  nav > ul {
    max-width: 1060px;
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
  nav > ul > li:first-child {
    margin: 0;
  }
  
  nav > ul > li {
    display: flex;
    flex-wrap: wrap;
    margin: 0 14px;
    align-items: center;
  }
  
  nav > ul > li:last-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
  }
  
  nav > ul > li > span {
    display: block;
    width: 100%;
    height: 3px;
  }
  
  nav > ul > li:hover > span {
    background-color: #2b96ed;
    transition: 2s;
  }
  
  nav > ul > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #495056;
  }
  
  /* 드롭다운 메뉴 */
  
  nav > ul > li:last-child {
    position: relative;
  }
  
  nav > ul > li:last-child > .drop_menu {
    position: absolute;
    top: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    z-index: 5;
    left: -20px;
    padding: 10px 0px;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 20px 0px;
    display: none;
  }
  
  nav > ul > li:last-child:hover span {
    background: none;
  }
  
  nav > ul > li:last-child:hover > ul {
    display: block;
    transition-duration: 2s;
  }
  nav > ul > li:last-child > .drop_menu > li {
    display: flex;
    flex-wrap: nowrap;
    width: 170px;
    height: 50px;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
  }
  
  nav > ul > li:last-child > .drop_menu > li:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  nav > ul > li:last-child > .drop_menu > li > a {
    background: none;
    color: #666d75;
  }
/* header 끝 */