*{
    margin:0;
    padding:0;
    text-decoration: none;
}

/* header 시작 */
#header > .logo {
    display: flex;
    position: relative;
    height: 72px;
    justify-items: center;
    align-items: center;
  }
  
  .head-left {
    display: flex;
    align-items: center;
  }
  
  .head-search input {
    align-items: center;
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding-left: 40px;
    background-color: #f5f6f7;
    border: none;
    background-image: url(../img/ic_search_20x20_gray_500.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 10px center;
  }
  
  .head-search input:focus {
    background-color: #ffff;
  }
  
  #header > .search > img {
    height: 48px;
  }
  
  #header {
    position: relative;
    display: flex;
    width: 100%;
    height: 72px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    max-width: 1060px;
    background-color: #ffff;
    justify-content: space-between;
  }
  
  #header > .logo > img {
    width: 128px;
  }

  #sign_up{
    display: flex;
  }
  #sign_up div{
    margin:0 15px;
  }
  #sign_up a{
    color:#666;
    font-weight: bold;
  }
  #sign_up>.signup>a{
        color:#2b96ed;
        border:0.5px solid #69b6f5;
        padding:10px 40px;
  }
  
  nav {
    border-bottom: 1px solid rgb(222, 226, 230);
  }
  
  nav > ul {
    max-width: 1060px;
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }
  nav > ul > li:first-child {
    margin: 0;
  }
  
  nav > ul > li {
    display: flex;
    flex-wrap: wrap;
    margin: 0 14px;
    align-items: center;
  }
  
  nav > ul > li:last-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
  }
  
  nav > ul > li > span {
    display: block;
    width: 100%;
    height: 3px;
  }
  
  nav > ul > li:hover > span {
    background-color: #2b96ed;
    transition: 2s;
  }
  
  nav > ul > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #495056;
  }
  
  /* 드롭다운 메뉴 */
  
  nav > ul > li:last-child {
    position: relative;
  }
  
  nav > ul > li:last-child > .drop_menu {
    position: absolute;
    top: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    z-index: 5;
    left: -20px;
    padding: 10px 0px;
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 20px 20px 0px;
    display: none;
  }
  
  nav > ul > li:last-child:hover span {
    background: none;
  }
  
  nav > ul > li:last-child:hover > ul {
    display: block;
    transition-duration: 2s;
  }
  nav > ul > li:last-child > .drop_menu > li {
    display: flex;
    flex-wrap: nowrap;
    width: 170px;
    height: 50px;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
  }
  
  nav > ul > li:last-child > .drop_menu > li:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  nav > ul > li:last-child > .drop_menu > li > a {
    background: none;
    color: #666d75;
  }
/* header 끝 */









main{
  height:700px;
  border-bottom: 1px #d8d8d8 solid;
}
.login-card{
  margin:auto;
  margin-top:80px;
  padding:46px;
  height:276px;
  width:332px;
  background-color: white;
  border:1px #d8d8d8 solid;
}

h3{
  font-size:15px;
  font-weight: 100;
}
.input-write{
  margin:10px 0;
  border:#d8d8d8 solid 1px;
  padding:11px;
  width:90%;
}

.flex{
  display: flex;
  font-size:15px;  
  margin:3px 0;
}
input[type="checkbox"]{
  margin-right:5px;
}
.flex>a{
  margin-left:auto;
  color:#666;
  font-size:14px;
}

.login-button{
  height:48px;
  background-color: #a7d4f9;
  border-radius: 5px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:10px 0;
  margin-bottom:20px;
}
.login-button>p{
  text-align: center;
  color:#fff;
  font-weight: bold;
}
.sign-up{
  color:#888;
  font-weight: bold;
}
.sign-up>span{
  color:#666;
  font-size:16px;
  text-decoration:underline;
}


.partner{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin:30px 0;
}
.partner p{
  color:#666;
  font-weight: bold;
}
.partner p:last-child{
  color:#000;
}
.partner a{
  margin-left:5px;
  text-decoration: underline;
}












/* footer 시작 */
.footer {
  padding: 40px 30px;
  margin: 0px 100px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 250px;

}

ul li {
  list-style: none;
}

span {
  color: #666d75;
  font-size: 18px;
  font-weight: bold;
}

ul li {
  color: #495056;
  font-size: 14px;
  margin: 5px 0px;
}

.customer button {
  background-color: white;
  margin: 15px 0px;
  padding: 5px 10px;
  cursor: pointer;
  color: #495056;
  font-size: 16px;
  border-color: #d4d4d4;
  border-radius: 5px;
  border-style: solid;
}

.introduce ul li {
  margin: 10px 0;
}

.footer-partner ul li {
  margin: 10px 0;
}

.support ul li {
  margin: 10px 0;
}

.div-line {
  border-bottom: 1px solid #dadde1;
  margin: 0 8%;


}

.footer-left > * {
  color: #495056;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 40px 10px;

  
}

.use {
  margin-left: 120px;
}

.info {
  font-weight: bold;
}

.footer-right > * {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  /* padding: 0 10px; */
}

.footer-mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-left: 150px;

}

.line {
  border-left: 1px solid #97a0a8;
  margin-left: 20px;
}

.footer-right > * {
  padding: 8px;
  padding-top: 40px;

}

.lang  {
  background-color: white;
  color: #97a0a8;
  border: 1px solid #97a0a8;
  padding: 5px 20px;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  display: inline-block;
  display: flex;
  justify-content: center;
  position: relative;
  left: 300px;
  top: -40px;
  }


.korean {
  font-size: 16px;
  font-weight: lighter;
}


.footer-bottom {
  width: 80%;
  margin-left: 280px;
  font-size: 12px;
  color: #97a0a8;
  }

.gap {
  margin: 5px;
}