* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
  background-color: #2b96ed;
}
a:hover {
  cursor: pointer;
}

button {
  border: none;
  background: none;
}

header {
  background-color: #2b96ed;
}

#header > .logo {
  display: flex;
  position: relative;
  height: 72px;
  justify-items: center;
  align-items: center;
  background-color: #2b96ed;
}

#header {
  position: relative;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  max-width: 1060px;
  background-color: #2b96ed;
}

#header > .logo > img {
  width: 128px;
  background-color: #2b96ed;
}

#header > .sign_up > a {
  font-size: 14px;
  background-color: #2b96ed;
}

#header > #sign_up > div > a {
  padding: 12px 8px;
  border-radius: 3px;
  transition-duration: 0.2s;
  background-color: #2b96ed;
}

#header > #sign_up > div > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition-duration: 0.2s;
}

#sign_up {
  display: flex;
  background-color: #2b96ed;
}

#sign_up > div {
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  color: white;
  background-color: #2b96ed;
}

#sign_up > .sign_up {
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #2b96ed;
}

#header > #sign_up > .sign_up > a {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding: 0 32px;
  background-color: #2b96ed;
}

nav {
  border-bottom: 1px solid #007aff;
  background-color: #2b96ed;
}

nav > ul {
  max-width: 1060px;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 0 30px;
  background-color: #2b96ed;
}
nav > ul > li:first-child {
  margin: 0;
}

nav > ul > li {
  display: flex;
  margin: 0 14px;
  align-items: center;
  background-color: #2b96ed;
}

nav > ul > li:last-child {
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #2b96ed;
}

nav > ul > li:last-child > img {
  background-color: #2b96ed;
}

nav > ul > li:hover {
  border-bottom: 3px solid white;
  height: calc(100% - 3px);
}

/* 메인 시작 */

/* 상단 검색 */
#trip_city {
  width: 100%;
  height: 243px;
  display: flex;
  padding-top: 50px;
  text-align: center;
  background-color: #2b96ed;
}

.search {
  width: 430px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #2b96ed;
}

.search > input::placeholder {
  color: white;
}

.search > div {
  position: relative;
  justify-content: center;
  left: 102px;
}

#trip_city > .search > input {
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  border-radius: 8px;
  background-color: #2b96ed;
  background: rgba(245, 246, 255, 0.1);
  border: 1px solid white;
}

#trip_city > .search > input:hover {
  background-color: rgba(245, 246, 247, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

/* 상단 미니 여행 카드 */

/* 공통 */

#city_card {
  background: none;
}

#city_card > ul {
  display: flex;
  max-width: 1060px;
  height: 126px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: -80px;
  background: none;
  overflow: hidden;
}

#city_card > ul > li {
  background: none;
}

#city_card > ul > li > a:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3), 0 0 1px 0 rgba(0, 0, 0, 0.3);
}

.city_name {
  position: relative;
  color: black;
  background: none;
}

/* 미니 카드 개인 */

#city_card > ul > li:first-child > a {
  margin-left: 0;
}

#city_card > ul > li > .mini_card_Hawaii {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/4723_medium_square_1535707095.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li > .mini_card_Florence {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/4711_medium_square_1535695390.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li > .mini_card_Beppu {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/80_medium_square_1405351324.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li .mini_card_jeju {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/4737_medium_square_1535949304.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li > .mini_card_LasVegas {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/4654_medium_square_1535621335.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li > .mini_card_paris {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/4747_medium_square_1536047752.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li > .mini_card_Rome {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/4751_medium_square_1536050273.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li > .mini_card_Barcelona {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/4672_medium_square_1535678422.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li > .mini_card_Bangkok {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/4652_medium_square_1535619901.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li > .mini_card_London {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/4750_medium_square_1536049651.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li .mini_card_Luzern {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/11109_medium_1525780835.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li .mini_card_Interlaken {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: linear-gradient(166deg, #fff 40%, hsla(0, 0%, 100%, 0) 68%),
    url(../img/4650_medium_square_1535618926.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#city_card > ul > li > .mini_card_all {
  padding: 10px;
  display: flex;
  width: 160px;
  height: 107px;
  margin: 0 10px;
  border-radius: 5px;
  background-image: url(../img/다운로드1.png);
  background-position: center;
  background-size: cover;
  text-align: center;
}
#city_card > ul > li > .mini_card_all > h3 {
  color: white;
}

/* 이벤트 슬라이드 시작 */

#event > .event_side {
  width: 100%;
  height: 302px;
  margin-bottom: 40px;
}

#event > .event_side > .side_list {
  list-style: none;
  width: 1060px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

#event > .event_side > .side_list > li > a {
  background: none;
}

#event > .event_side > .side_list > li > a > img {
  width: 1060px;
  height: 100%;
}

/* 투어 시작 */

/* 공통 */

.tour {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.tour > div > a {
  display: flex;
  align-items: center;
  background: none;
  color: black;
}

.tour > div > a > img {
  transform: scaleX(-1);
}

/* 투어 카드 */

.tour_card {
  display: flex;
  align-items: center;
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 56px;
}

.tour_card > ul {
  display: flex;
  overflow: hidden;
}

.tour_card > ul > li > a {
  color: #343a40;
  font-weight: 600;
  font-size: 15px;
}

.tour_card > ul > li:first-child > a > div {
  margin-left: 0;
}

.tour_card > ul > li > a:hover {
  cursor: pointer;
  box-shadow: 0 2px 8px hsla(212, 7%, 43%, 0.32);
}

.grid-container {
  width: 250px;
  height: 311px;
  position: relative;
  border: #ccc 1px solid;
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}
.grid-container img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.grid-info {
  width: 100%;
  height: 50%;
  background-color: #fff;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
}
.grid-cardcategory {
  padding: 10px;
  text-overflow: ellipsis;
}

.cardcategory_txtbox {
  width: 218px;
  height: 45px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-cardcategory > p {
  color: #848c94;
  font-size: 12px;
}
.cardcategory_txtbox > h3 {
  font-size: 15px;
  width: 218px;
  -webkit-line-clamp: 2;
  line-height: 1.47;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-cardprice {
  bottom: 16px;
  left: 16px;
  line-height: 1;
  position: absolute;
}
.stars,
.rates {
  display: inline-block;
  margin-bottom: 10px;
}
.stars {
  color: #4c96ea;
}
.rates {
  font-weight: 500;
  font-size: 14px;
  color: #848c94;
}
.price {
  font-weight: 500;
  display: block;
  color: #848c94;
}
.price > span {
  color: #848c94;
  font-size: 14px;
}

.price > span > s {
  text-decoration: line-through;
  font-size: 12px;
}
.price > span:last-child {
  font-size: 12px;
}

.grid-immidiately {
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  align-items: center;
}
.grid-immidiately > img {
  /* height: 10px; */
  width: 9px;
}
.grid-immidiately > p {
  margin-left: 2px;
  color: #848c94;
  font-size: 12px;
  font-weight: 500;
}

.heart {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

/* footer */

/* footer 공통 */
footer {
  border-top: 1px solid gray;
}

/* footer 상단  */
footer > #footer_top {
  max-width: 1060px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 40px 0px;
  border-bottom: 0.6px solid #666d75;
}

#footer_top > .cs_info {
  width: 50%;
}
#footer_top > .cs_info > span {
  font-size: 18px;
  font-weight: bold;
  color: #666d75;
}

#footer_top > .cs_info > ul {
  margin-top: 10px;
  font-size: 14px;
  color: #495056;
}

#footer_top > .cs_info > .cs_btn {
  margin-top: 16px;
}

#footer_top > .cs_info > .cs_btn > .cs_chat {
  width: 110px;
  height: 40px;
  border: 0.6px solid #666d75;
  border-radius: 5px;
  padding: 9px 8px;
  font-size: 14px;
  font-weight: bold;
  color: #495056;
}

#footer_top > .cs_info > .cs_btn > .cs_chat:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
}

#footer_top > .business_info {
  width: 50%;
  display: flex;
}

#footer_top > .business_info > div {
  width: calc(100% / 3);
}

#footer_top > .business_info > div > span {
  font-weight: bold;
  font-size: 15px;
  color: #666d75;
}
#footer_top > .business_info > div > ul {
  margin-top: 10px;
}

#footer_top > .business_info > div > ul > li {
  background: none;
  height: 32px;
}

#footer_top > .business_info > div > ul > li > a {
  position: relative;
  left: -6px;
  padding: 6px;
  font-weight: 500;
  color: #666d75;
  background: none;
  font-size: 14px;
  border-radius: 4px;
}

#footer_top > .business_info > div > ul > li > a:hover {
  cursor: pointer;
  color: #2b96ed;
  background-color: #e7f4fd;
}

/* footer 하단 */

#footer_bottom {
  max-width: 1060px;
  margin: 0 auto;
  padding: 40px 0px;
}

#footer_bottom > #footer_items {
  display: flex;
  align-items: center;
}

#footer_items > .terms {
  width: 50%;
  display: flex;
  align-items: center;
}

#footer_items > .terms > div {
  margin-left: 20px;
  height: 40px;
  display: flex;
  align-items: center;
}

#footer_items > .terms > div:first-child {
  margin-left: 0;
}

#footer_items > .terms > div > a {
  display: flex;
  align-items: center;
  background: none;
  color: #666d75;
  font-size: 14px;
  padding: 6px;
  font-weight: 500;
  height: 100%;
  border-radius: 4px;
}

#footer_items > .terms > div > a:hover {
  cursor: pointer;
  color: #2b96ed;
  background-color: #e7f4fd;
}

#footer_items > .terms > div:nth-child(even) > a {
  font-weight: bold;
}

#footer_items > .sns_download {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#footer_items > .sns_download > .sns > ul {
  display: flex;
  align-items: center;
}

#footer_items > .sns_download > .sns > ul > li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

#footer_items > .sns_download > .sns > ul > li > a {
  display: flex;
  align-items: center;
  background: none;
}

#footer_items > .sns_download > .app_download > ul {
  display: flex;
  align-items: center;
}

#footer_items > .sns_download > .app_download > ul > li {
  margin: 0 10px;
}

#footer_items > .sns_download > .app_download > ul > li > a {
  background: none;
  display: flex;
  align-items: center;
}

#footer_items > .sns_download > span {
  width: 1px;
  height: 20px;
  background-color: rgb(206, 212, 218);
}

#footer_items > .language {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 118px;
  height: 40px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  cursor: pointer;
  background: none;
  margin-left: 28px;
}

#footer_items > .language > img:first-child {
  margin-right: 4px;
}

#footer_items > .language > img:last-child {
  margin-left: 12px;
}

#footer_items > .language > span {
  font-size: 14px;
  color: #848c94;
}

.footer_info {
  margin-top: 16px;
  display: flex;
}

.footer_info > p > a {
  background: none;
  font-size: 12px;
  color: rgb(132, 140, 148);
  line-height: 18px;
  font-weight: 500;
}

.footer_info > p {
  font-size: 12px;
  color: rgb(132, 140, 148);
  line-height: 18px;
}

.footer_info > div:last-child {
  display: flex;
  align-items: flex-end;
}

.footer_info > div:last-child > img {
  width: auto;
  height: auto;
}
