* {
    padding: 0;
    margin: 0;
}
.footer {
    padding: 40px 30px;
    margin: 0px 100px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 250px;

}

ul li {
    list-style: none;
}

span {
    color: #666d75;
    font-size: 18px;
    font-weight: bold;
}

ul li {
    color: #495056;
    font-size: 14px;
    margin: 5px 0px;
}

.customer button {
    background-color: white;
    margin: 15px 0px;
    padding: 5px 10px;
    cursor: pointer;
    color: #495056;
    font-size: 16px;
    border-color: #d4d4d4;
    border-radius: 5px;
    border-style: solid;
}

.introduce ul li {
    margin: 10px 0;
}

.partner ul li {
    margin: 10px 0;
}

.support ul li {
    margin: 10px 0;
}

.div-line {
    border-bottom: 1px solid #dadde1;
    margin: 0 8%;


}

.footer-left > * {
    color: #495056;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding: 40px 10px;

    
}

.use {
    margin-left: 120px;
}

.info {
    font-weight: bold;
}

.footer-right > * {
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    /* padding: 0 10px; */
}

.footer-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin-left: 150px;

}

.line {
    border-left: 1px solid #97a0a8;
    margin-left: 20px;
}

.footer-right > * {
    padding: 8px;
    padding-top: 40px;

}

.lang  {
    background-color: white;
    color: #97a0a8;
    border: 1px solid #97a0a8;
    padding: 5px 20px;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    display: inline-block;
    display: flex;
    justify-content: center;
    position: relative;
    left: 300px;
    top: -40px;
    }


.korean {
    font-size: 16px;
    font-weight: lighter;
}


.footer-bottom {
    width: 80%;
    margin-left: 280px;
    font-size: 12px;
    color: #97a0a8;
    }

.gap {
    margin: 5px;
}